.faq {
    padding: 5.6vw;

    h2 {
        text-align: center; 
        margin-bottom: 24px;
    }

    &__questions {

        &__item {
            background-color: #13151d;
            margin-bottom: 16px;
            list-style: none;

            &__question {
                color: white; 
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+'; 
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height 0.5s ease; // Transição suave para a abertura da resposta
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-'; // Altera o sinal para "-" quando a pergunta está aberta
                }

                .faq__questions__item__answer {
                    height: auto; // Mostra a resposta
                    padding: 24px;
                    padding-top: 0;
                }
            }
        }
    }
}
