$corDeFundo: #040714;       // Cor de fundo geral do projeto
$corTextoPrincipal: silver; // Cor do texto principal (por exemplo, parágrafos)
$corTextoSecundario: #f9f9f9; // Cor do texto secundário (por exemplo, links e cabeçalhos)
